#logo img{
        width: 200px;
        margin-left: 30px;
}

header{
        display: flex;
}

nav{
        display: inline-block;
        float: right;
        margin-top: 60px;
}

nav ul li a{
        font-size: 30px;
        color: black;
        padding: 10px 50px;
        text-decoration: none;
        border-radius: 10px;
        margin-right: 10px;
}

nav ul{
        list-style:none;
}

nav ul li{
        margin: 10px;
        display: inline-block;
}

hr{
        width: 1428px;
        height: 4px;
        background: #E51A38;
}

#dessin img{
        width: 799px;
        height: 386px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 110px;
}

#Bienvenue{
        text-align: center;
        width: 1101px;


}
