.container{
        margin: 0;
        padding: 0;
}

#logo img{
        width: 200px;
        margin-left: 30px;
}

header{
        display: flex;
}

nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
}

nav ul li a{
        font-size: 30px;
        color: black;
        padding: 18px;
        text-decoration: none;
        border-radius: 10px;
}

nav ul{
        list-style:none;
}

nav ul li{
        margin: 20px;
        display: inline-block;
}

#villefranche{
        text-align: justify;
        flex-shrink: 0;
        font-family: Istok Web;
        font-size: 28px;
        font-style: normal;
        line-height: normal;
        margin-top: 80px;
}

.trait1{
        height: 6px;
        background: #E51A38;
}

.dessin {
        width: 799px;
        height: 386px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 110px;
}

#Bienvenue{
        width: 1100px;
        padding: 20px 0px;
        margin-left: 200px;
        color: #000;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 30px;

}

.dedale{
        color: #E51A38;
}

#photos img{
        width: 299px;
        height: 228px;
        margin: 20px;
        margin-top: 50px;  
}


h3{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: #E51A38;
}

.gallery_bloc{
        display: flex;

}

      
.card-body>div {
      padding: 5px;
}
.card-body p{
        font-size: 20px;
        text-align: justify;
}
.card{
        border: none;
        
}
.container .card .card-header{
        display: flex;
        justify-content: center;
        align-items: center;
}
.container .card .card-header img{
        width: 60%;
        height: 100%;
}

.card-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 100px;
}
.card-container .card{
        width: 325px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
        margin: 20px;
        text-align: left;
}

.card img{
        width: 100%;
        height: 100%;
}

.card-content{
        padding: 16px;
        text-align: left;
}

.card-content p{
        font-size: 28px;
        margin-bottom: 8px;
        font-weight: bold;
}


#bloc{
        margin-left: 50px;
        margin-top: 70px;
        padding: 20px;
}

#bloc img{
        width: 426px;
        height: 441px;
        float: left;
}

#bloc p{
        font-family: Istok Web;
        font-size: 28px;
        height: 401px;
        text-align: justify;
        margin-left: 480px
}

#Susplugas{
        text-align: center;
        font-family: Istok Web;
        font-size: 30px;
        font-style: normal;
        line-height: normal;
        margin-top: 100px;
}

#expositions img{
        width: 332px;
        height: 496px;
        margin-left: 100px; 
        margin-top: 50px;   
}

#expo{
        flex-shrink: 0;
        font-family: Istok Web;
        font-size: 28px;
        font-style: normal;
        line-height: normal;
        margin-top: 5%;
        text-align: justify;
}


.trait{
        background: #E51A38;
        width: 344px;
        height: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
}

.trait{
        background: #E51A38;
        width: 344px;
        height: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
}

.footer{
        width: 100%;
        bottom: 0;
        left: 0;
}

.footer .top-white{
        font-size: 28px;
        display: flex;
        justify-content: space-between;
}
.footer .top-white .contact{
        text-align: center;
        margin-bottom: 10px;
}

.footer form{
        margin-bottom: 10px;
}
.footer form input{
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 28px;
}

.envoyer{
        text-align: center;
}
.footer .bottom-red{
        display: flex;
        justify-content: space-between;
        height: 190px;
        background-color: rgba(180, 50, 63, .9);
}
.bottom-red .mention_legales{
        width: 35%;
}
.mention_legales p{
        position: relative;
        top: 120px;
        left: 50px;
        font-size: 23px;
}
.bottom-red .follow-us{
        position: relative;
        top: 20px;
        width: 60%;
        font-size: 29px;
        text-align: center;
}
.media-icons a{
        font-size: 60px;
        color: #fff;
        padding: 10px;
}
.partenariat{
        font-size: 18px;
        text-align: center;
}
.partenariat img{
        width: 70%;
        height: 60%;
}

@media (max-width: 1279px) {

        nav{
                font-size: 10px;
        }
        
        nav ul li a{
                font-size: 20px;
                color: black;
                padding: 1px;
        }

        .footer .top-white{
                display: inline-block;
                position: relative;
                left: 210px;
        }
        #photos{
                display: inline-block;
        }
        #bloc{
                display: block;
        }
        
        #bloc img{
                width: 410px;
                height: 429px;
        }
        
        #bloc p{
                font-family: Istok Web;
                font-size: 22px;
                text-align: justify;
        }
        
        .mention_legales p{
                font-size: 20px;
                top: 125px;
                left: 1px;
        }

        .top-white form{
                margin-top: 30px;
        }
        .partenariat img{
                width: 60%;
                height: 45%;
        }
        
}


@media (max-width: 991px) {
        #bloc{
                display: inline-block;
        }
        
        #bloc img{
                width: 80%;
                height: 80%;
        }
        
        #bloc p{
                font-family: Istok Web;
                font-size: 22px;
                text-align: justify;
                margin-left: 0px;
                margin-top: 110%;
        }

        .footer .bottom-red{
                font-size: 15px;
        }
        .partenariat{
                font-size: 23px;
                text-align: center;
        }
        .partenariat img{
                width: 60%;
                height: 30%;
        }
        .media-icons a{
                font-size: 30px;
                padding: 5px;
        }
        .mention_legales p{
                font-size: 18px;
        }
        .bottom-red .follow-us{
                font-size: 20px;
        }
        .bottom-red .follow-us{
                top: 60px;
        }
        .footer .top-white{
                left: 10px;
        }

}


        
